th {
    background: #eee;
}
.mInfotbl th {
    width: 150px;
}

/* footer {
position: fixed;
bottom: 0;
left: 0;
right: 0;
} */

.mpwrap{
	margin-bottom: 200px;
}

@media(max-width: 992px){
    .mPosttbl{font-size: small;}
}

@media(max-width: 768px){
    .mInfotbl th{width: 100px;}
    .mCommenttbl{font-size: small;}
}

@media(max-width: 576px){
    .mInfotbl{font-size: small;}
    .mInfotbl #thlname{width: 50px;}
}