/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+KR&display=swap');


/* qnaview 
타이틀, 코멘트, 버튼
*/
.qnaTh, #comment, .qnaBtn{font-family: 'Montserrat', sans-serif; }
.qnaTd, .comContent{font-family: 'Noto Sans KR', sans-serif;}

/* 네비게이션 */
.navTitle{font-family: 'Montserrat', sans-serif; font-weight: bold;}


