.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #D5D5D5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

#navbar_custom{
  margin: 0px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

#navbarNavDro
.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/* Footer */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/* etc */
body{
  height: 120vh;
  background: url('/resources/main/Images/bg_01.png') no-repeat center/cover;
}
#Main{width: 220px;}

#sign_in_btn_left{display: none;}
#sign_in_btn{margin-right: 10px;}
#myPage_btn2{display:none;}

#Area_page{margin-bottom: 50px;}

#Banner_carousel{margin-bottom: 40px;}
#Banner_carousel .carousel-inner > .carousel-item >img{height: 624px;}

#Photo_BannerBox{height: 302px;}
#Photo_carousel .carousel-inner > .carousel-item >img{height: 302px;}

#NB_Box{height: 302px;}
#NB_Box a{
  text-decoration:none;
  color: black;
}
#NB_Box table{
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2.5%;
}
#NB_Box td{
  padding: 13px;
  width: 495px;
  display:block;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}
#NB_Box h3{
  width: 96%;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}
#NB_Box #border_Delete{border-top: 0px;}
#NB_Box .title_color{color: #47C83E;}

/* media */
@media screen and (max-width:1199px){
  #nickname{display: none;}
  #Banner_carousel .carousel-inner > .carousel-item >img{height: 523px;}
  #Photo_carousel .carousel-inner > .carousel-item >img{height: 252px;}
  #Photo_BannerBox{height: 252px;}
  #NB_Box td{width: 410px;}
}
@media screen and (max-width:991px){
  #Banner_carousel .carousel-inner > .carousel-item >img{height: 388px;}
  #Photo_carousel .carousel-inner > .carousel-item >img{height: 184px;}
  #Photo_BannerBox{height: 184px;}
  #NB_Box td{width: 300px;}
}
@media screen and (max-width:767px){
  body{height: 180vh;}
  #Main{width: 90%}
  #sign_in_btn{display: none;}
  #sign_in_btn_left{display:inline;}
  #Banner_carousel .carousel-inner > .carousel-item >img{height: 286px;}
  #Photo_carousel .carousel-inner > .carousel-item >img{height: 285px;}
  #Photo_BannerBox{height: 285px;}
  #NB_Box td{width: 465px;}
}
@media screen and (max-width:575px){
  #Banner_carousel .carousel-inner > .carousel-item >img{height: 306px;}
  #Photo_carousel .carousel-inner > .carousel-item >img{height: 305px;}
  #Photo_BannerBox{height: 305px;}
  #NB_Box td{width: 500px;}
}
@media screen and (max-width:560px){#NB_Box td{width: 485px;}}
@media screen and (max-width:540px){
  #Banner_carousel .carousel-inner > .carousel-item >img{height: 286px;}
  #Photo_carousel .carousel-inner > .carousel-item >img{height: 285px;}
  #Photo_BannerBox{height: 285px;}
  #NB_Box td{width: 470px;}
}
@media screen and (max-width:520px){#NB_Box td{width: 450px;}}
@media screen and (max-width:510px){
  body{height: 160vh;}
  #Banner_carousel .carousel-inner > .carousel-item >img{height: 270px;}
  #Photo_carousel .carousel-inner > .carousel-item >img{height: 268px;}
  #Photo_BannerBox{height: 268px;}
  #NB_Box td{width: 440px;}
}
@media screen and (max-width:500px){#NB_Box td{width: 430px;}}
@media screen and (max-width:490px){#NB_Box td{width: 420px;}}
@media screen and (max-width:480px){#NB_Box td{width: 410px;}}
@media screen and (max-width:470px){
  #Banner_carousel .carousel-inner > .carousel-item >img{height: 247px;}
  #Photo_carousel .carousel-inner > .carousel-item >img{height: 246px;}
  #Photo_BannerBox{height: 246px;}
  #NB_Box td{width: 400px;}
}
@media screen and (max-width:460px){#NB_Box td{width: 390px;}}
@media screen and (max-width:450px){#NB_Box td{width: 380px;}}
@media screen and (max-width:440px){
  #Banner_carousel .carousel-inner > .carousel-item >img{height: 230px;}
  #Photo_carousel .carousel-inner > .carousel-item >img{height: 229px;}
  #Photo_BannerBox{height: 229px;}
  #NB_Box td{width: 370px;}
}
@media screen and (max-width:430px){#NB_Box td{width: 360px;}}
@media screen and (max-width:420px){#NB_Box td{width: 350px;}}
@media screen and (max-width:414px){
  #Main{width: 100%}
  #Banner_carousel .carousel-inner > .carousel-item >img{height: 216px;}
  #Photo_carousel .carousel-inner > .carousel-item >img{height: 214px;}
  #Photo_BannerBox{height: 214px;}
  #NB_Box td{width: 344px;}
}
@media screen and (max-width:400px){#NB_Box td{width: 330px;}}
@media screen and (max-width:390px){#NB_Box td{width: 320px;}}
@media screen and (max-width:375px){
  #Banner_carousel .carousel-inner > .carousel-item >img{height: 194px;}
  #Photo_carousel .carousel-inner > .carousel-item >img{height: 192px;}
  #Photo_BannerBox{height: 192px;}
  #NB_Box td{width: 310px;}
}
@media screen and (max-width:360px){#NB_Box td{width: 300px;}}
@media screen and (max-width:350px){#NB_Box td{width: 290px;}}
@media screen and (max-width:340px){#NB_Box td{width: 280px;}}
@media screen and (max-width:334px){
  #myPage_btn1{display: none;}
  #myPage_btn2{display: inline;}
}
@media screen and (max-width:340px){#NB_Box td{width: 270px;}}
@media screen and (max-width:320px){
  body{height: 140vh;}
  #Banner_carousel .carousel-inner > .carousel-item >img{height: 163px;}
  #Photo_carousel .carousel-inner > .carousel-item >img{height: 162px;}
  #Photo_BannerBox{height: 162px;}
  #NB_Box td{width: 260px;}
}
@media screen and (max-width:310px){#NB_Box td{width: 250px;}}
@media screen and (max-width:300px){#NB_Box td{width: 240px;}}
@media screen and (max-width:290px){#NB_Box td{width: 230px;}}
@media screen and (max-width:280px){
  #navbar_custom{padding: 0;}
  #NB_Box td{width: 220px;}
}