<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.FestivalMapper">
	<!-- 축제 데이터 리스트 -->
	<select id="festivalList" resultType="com.project.travel.vo.FestivalVO">
		SELECT * FROM Festival_Test 
		<!-- <trim> : 하위 <if>에서 조건이 맞는 조건절이 있을 경우 WHERE 키워드를 생성합니다. -->
		<trim prefix="WHERE" prefixOverrides="AND|OR">
		<!-- <if>  : 조건이 맞을 경우 조건절을 생성합니다. -->
			<!-- 축제 제목 검색-->
			<if test="searchType=='F_Subject' and keyword != null and keyword != '' ">
				AND F_Subject LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<!-- 축제 내용 검색 -->
			<if test="searchType=='F_Content' and keyword != null and keyword != '' ">
				AND F_Content LIKE CONCAT('%', #{keyword}, '%')
			</if>
			
			<!-- 축제 장소 검색 -->
			<if test="searchType=='F_Place' and keyword != null and keyword != '' ">
				AND F_Place LIKE CONCAT('%', #{keyword}, '%')
			</if>	
		</trim>
		ORDER BY F_Num DESC
		LIMIT #{festivalstartList}, 10;
	</select>

	<!-- 게시물 갯수 -->
	<select id="getFestivalListCnt" resultType="int">
		SELECT count(*) as festivalListCnt FROM Festival_Test
			<trim prefix="WHERE" prefixOverrides="AND|OR">
		<if test="keyword != null and keyword != '' ">
			<if test="searchType=='F_Subject'">
				AND F_Subject LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='F_Content'">
				AND F_Content LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='F_Place'">
				AND F_Place LIKE CONCAT('%', #{keyword}, '%')
			</if>
      </if>
	</trim>		
	</select>
	
	<!-- 축제 작성 -->
	<insert id="festivalwrite" parameterType="com.project.travel.vo.FestivalVO">
		INSERT INTO Festival_Test (F_Num, F_Subject, F_Content, F_Place, F_Address, F_Date)
			VALUES(#{f_num}, #{F_Subject}, #{F_Content}, #{F_Place}, #{F_Address}, now())
	</insert>
	
	<!-- 파일 업로드 -->
    <insert id="insertFile" parameterType="hashMap">
		INSERT INTO Kang_Test(F_Num, ORG_FILE_NAME, STORED_FILE_NAME, FILE_SIZE, REGDATE)
			VALUES(#{F_Num}, #{ORG_FILE_NAME}, #{STORED_FILE_NAME}, #{FILE_SIZE}, now())
    </insert>
	
	<!-- 축제 뷰 -->
	<select id="festivalView" resultType="com.project.travel.vo.FestivalVO">
		SELECT * FROM Festival_Test WHERE F_Num = #{F_Num};
	</select>

	<!-- 축제 삭제 -->
	<delete id="festivalDelete">
	DELETE FROM Festival_Test WHERE F_Num = #{F_Num}
	</delete>
	
	<!-- 축제 업데이트 -->
	<update id="festivalUpdate">
	UPDATE Festival_Test SET F_Subject = #{F_Subject}, F_Content = #{F_Content}, F_Place = #{F_Place}, F_Address = #{F_Address} WHERE F_Num = #{F_Num}; 
	</update>

</mapper>
