<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.FestivalMapper">
<select id="festivalList" resultType="com.project.travel.vo.FestivalVO">
select 
*
from Festival;
</select>
<insert id="festivalwrite">
insert into Festival (F_Num,F_Subject,F_Content,F_Place,F_Address,F_Date) 
values(#{f_Num},#{f_Subject},#{f_Content},#{f_Place},#{f_Address},now());
</insert>
</mapper>
