<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MainMapper">

    <!-- 배너에 넣을 이미지 찾기 -->
	<select id="imgBanner" resultType="com.project.travel.vo.MainVO">
		SELECT Photo_Num FROM Photo_Border_test ORDER BY Photo_Views DESC limit 4;
	</select>
	
</mapper>