<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.QnA-Mapper">

<select id="getQnAList" resultType="com.project.travel.vo.QnAVO">
<!-- <![CDATA[[ -->
	select 
	*
	from QnA_Border
	order by 
	QnA_Num DESC;
<!-- ]]> -->
</select>
</mapper>